doctype html
html
  head
    block head
      title #{title}
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    // CSS cascading order has this on the 3rd level of priority
      and on equal level of priority the latter wins
    // Importing angular and angular app
    // TODO decide what to do with angular modules
    // script(src='/vendor/angular/angular.js')

    script(src='http://hammerjs.github.io/dist/hammer.min.js')
    script(src='/javascripts/allangular.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-messages.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js')
    //script(src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js")
    script(src="https://rawgit.com/angular/bower-material/master/angular-material.js")
    //script(src='/vendor/material/angular-material.js')
    script(src='/vendor/angular-file-upload/angular-file-upload.js')
    //link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css')
    link(rel="stylesheet", href="https://rawgit.com/angular/bower-material/master/angular-material.css")
    link(rel='stylesheet', href='/stylesheets/core.css')
    link(rel='stylesheet', href='/stylesheets/users/users.css')
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic")
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Noto+Serif', type='text/css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js')

    base(href='/')

    block neck

  body(ng-app='oxstututors')
    include navbar
    div.page.content(ng-view)


    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers.js')
    script(src='/javascripts/services/Auth.js')
    script(src='/javascripts/services/Avatar.js')
    script(src='/javascripts/services/Inbox.js')
    script(src='/javascripts/services/Message.js')
    script(src='/javascripts/services/Profile.js')
    script(src='/javascripts/services/Session.js')
    script(src='/javascripts/services/Subject.js')
    script(src='/javascripts/services/User.js')
    script(src='/javascripts/directives/ngThumb.js')
    script(src='/javascripts/directives/oxSearchProfile.js')
    script(src='/javascripts/directives/oxUniqueUsername.js')
    script(src='/javascripts/directives/oxRegisterForm.js')
    script(src='/javascripts/directives/oxOxfordEmail.js')
