md-toolbar.navbar.navbar-default.navbar-fixed-top(ng-controller='NavbarCtrl', ng-cloak, style='max-height:50px')
  div.container
    div.navbar-header
      a.navbar-brand(href='#')
        span.navbar-brand-label OxStuTutors
      button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.my-navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    div.navbar-collapse.my-navbar-collapse.collapse
      ul.nav.navbar-nav
        li: md-button(href='/') Home
        li: md-button(href='/search/') Search
        li: md-button(href='/about/') About
        li: md-button(href='/contact/') Contact
      ul.nav.navbar-nav.navbar-right(ng-hide='currentUser')
        li: md-button(href='/login/')
          i.fa.fa-user
          | Sign In
      ul.nav.navbar-nav.navbar-right(ng-show='currentUser')
        li: md-button(href='/inbox/')
          span(class="glyphicon glyphicon-envelope")
            span(class='badge') {{unread?unread:''}}
        li: md-button(href='/users/{{currentUser._id}}')
          | {{ currentUser.username }}
        li: md-button(ng-click='logout()', href='#')
          | Logout