link(rel='stylesheet', href='/stylesheets/index.css')
div.md-content.cover(layout, layout-fill)
  div(layout-fill)
    h1 OxStuTutors
    p.lead
      | Tutoring made easy.
      div
        a.btn.btn-primary.btn-lg(href='/signup/') Create an Account
div
  div
    p Hi - This is the content you want
  div
    p List

