div(layout='column', style="height:100%;")
  section(layout='row' flex)
    md-sidenav(class='md-sidenave-left md-whiteframe-z1',md-component-id="left", md-is-locked-open="$mdMedia('gt-md')")
      md-toolbar(class="md-theme-indigo")
        h1(class="md-toolbar-tools") Sidenav Left
      md-content(class="md-padding")
        p(hide-md show-gt-md)
        | This sidenav is locked open on your device. To go back to the default behavior, narrow your display.
    md-content(flex class="md-padding")
      div(layout='column', layout-fill, layout-align='top center')
        p Hello