div(class='row')
  table(ng-class='{"table table-striped" : !isProfile}', class='col-md-12')
    tr(ng-repeat='user in filteredUsers = (users | filterSubject:selectedSubject | filterCategoriesInSubject:selectedSubject:selectedCategories)')
      td(style='padding: 20px')
        div(class='row')
          div(class='col-sm-3', ng-hide='isProfile')
            img(ng-src="/avatar/{{user._id}}", style='max-height:200px')
          div(class='col-sm-9')
            h1
              a(ng-href='/users/{{user._id}}', ng-hide='isProfile') {{user.username}}
              span(ng-show='isProfile') {{user.username}}
              md-button(class='md-fab md-primary',
              ng-href='http://localhost:3000/inbox/?receiver={{user.username}}&receiverId={{user._id}}',
              aria-label='Email')
                span(class='glyphicon glyphicon-comment')
            div(ng-show='user.summary.degree.length > 0 && user.summary.summary.length > 0')
              h2 Subjects
              md-list
                md-item(ng-repeat='subject in user.summary.summary')
                  md-item-content
                    div(md-tile-content)
                      p {{subject.subject}} : {{subject.description}}
              h2 Degree
              md-list
                md-item(ng-repeat='degree in user.summary.degree', class='md-padding')
                  md-item-content
                    | {{degree}}
            div(ng-hide='user.summary.degree.length > 0 && user.summary.summary.length > 0')
              h3 Profile is incomplete. Please edit your page.

div(ng-show='filteredUsers.length == 0', class='row')
  md-content(class='md-padding')
    md-card
      md-card-content
        h4 Sorry, no tutors found for this search.


  //div(class='col-md-12',
  //  ng-repeat='user in users',
  //  ng-style="{ 'background' : '#ffffff'}")

