div(class='row')
  table(class='col-md-12 table table-striped')
    tr(ng-repeat='user in users | filterSubject:selectedSubject | filterCategoriesInSubject:selectedSubject:selectedCategories')
      td(style='padding: 20px')
        div(class='row')
          div(class='col-sm-3')
            img(ng-src="/avatar/{{user.userId}}", style='max-height:200px')
          div(class='col-sm-9')
            h1
              a(ng-href='/users/{{user.userId}}') {{user.username}}
              md-button(class='md-fab md-primary',
              ng-href='http://localhost:3000/inbox/?receiver={{user.username}}&receiverId={{user.userId}}',
              aria-label='Email')
                span(class='glyphicon glyphicon-comment')
            h2 Subjects
            md-list
              md-item(ng-repeat='subject in user.summary.summary')
                md-item-content
                  div(md-tile-content)
                    p {{subject.subject}} : {{subject.description}}
            h2 Degree
            md-list
              md-item(ng-repeat='degree in user.summary.degree', class='md-padding')
                md-item-content
                  | {{degree}}


  //div(class='col-md-12',
  //  ng-repeat='user in users',
  //  ng-style="{ 'background' : '#ffffff'}")

