md-content(class='md-padding', style='padding-bottom:64px')
  div(layout='row', layout-align='space-around start')
    md-button(aria-label='Tutor', ng-click='user.role="Tutor"')
      md-icon(md-svg-src='/media/oxfordLogo.svg', style='width:100px; height:100px')
      md-tooltip(md-direction='bottom')
        | Registering as tutor
    span Select a role to start
    md-button(aria-label='Tutor', class='md-fab md-primary', ng-click='user.role="Client"')
      span(class='glyphicon glyphicon-education')
      md-tooltip
        | Registering as student

  ox-register-form(user='user', tutor='user.role == "Tutor"', ng-show='user.role')
