md-content(class='md-padding')
  :markdown
    ### Consultancy agreement between oxford student tutors and consultant
    # AGREEMENT FOR TUTORING CONSULTANCY SERVICES

    > Solomon Taylor & Shaw
    > 3 Coach House Yard
    > Hampstead High Street
    > London NW3 1QF
    > DX: 144580 Hampstead 2

    #### THIS AGREEMENT is made on DATE BETWEEN
    (1) OXFORD STUDENT TUTORS of (the “Company”)<br>
    (2) THE CONSULTANT of (the “Tutor")

    <b>1. Parties and Relationships</b>

      1. The Company is engaged in the business of providing private tuition to clients through the use of skilled independent contractors.
      2. The Tutor is a person who by education, training and experience is skilled in the provision of the services required.

    <b>2. Capacity </b>

      1. The Company and the Tutor acknowledge that nothing in this Agreement shall render the Tutor an employee, agent or officer of the Company and the Tutor shall not hold him/herself out as such.
      2. Nothing contained in this Agreement shall constitute a partnership or joint venture between the Company and the Tutor.
      3. During this Agreement the Tutor will not, without the written consent of the Company, hold him/herself out as in any way authorised to bind the Company.
      4. Although the Company shall be entitled to permit the Tutor to represent him/herself as a Tutor to the Company when providing the Services, the Company shall not be vicariously liable for any of the acts or omissions of the Tutor.
      1. The parties accept that the Tutor is free to accept work with a third party whether as an employee, consultant or in any other capacity, provided that such work does not affect or prejudice the Company’s rights under this Agreement.
      1. The Company shall not be obliged to offer the Tutor any work and the Tutor shall not be obliged to accept any work if so offered.
      1. The Tutor agrees to undertake the Services under the terms of this Agreement and shall not be entitled to withdraw from the provision of the Services save by terminating this Agreement under Clause 6.1.
      1. The Tutor shall inform the Company as soon as is reasonably practicable if s/he is unable to perform the Services.
      1. Any holidays or other days or periods of leave taken by the Tutor shall be unpaid.
      1. The Tutor shall not be obliged to provide the Services when s/he is unable to work due to holiday, illness or injury, provided that in the event of the Tutor's holiday, illness or injury, the Tutor shall advise the Company of such holiday, illness or injury as soon as is reasonably practicable, giving details of the holiday, illness or injury and its likely duration.
      1. The Tutor is not entitled to sick pay.

    <b>3. Character and Extent of Services </b>

      1. The Tutor will provide private tuition and academic support to the Company’s clients as notified to him/her by the Company.
      1. The Tutor is required to maintain his/her professional development.
      1. The Tutor agrees to perform the services specified below (the “Services”) according to reasonable standard procedures and in accordance with the highest standards of his/her profession, and agrees to provide the full benefit of his/her knowledge, expertise and skill in connection with the provision of the Services:
        1. provide private tuition on an agreed subject or subjects which is suitable to each students’ age, ability and aptitude to those students allocated to the Tutor by the Company;
        1. provide tuition materials necessary for the effective tuition of any student; and
        1. participate in the marking of students’ work.
      1. The Tutor warrants to the Company that the Tutor is not in breach of any other contract or obligation as a result of entering into this Agreement, and in particular, without prejudice to the generality of the foregoing, that the Tutor is not in breach of any terms of any contract of employment with any third party.

    <b>4. Compliance </b>

      1. The Services to be provided to the Company shall be provided by the Tutor in compliance with all relevant legislation, regulations, codes of practice, guidance and other requirements of the Company or any relevant government or governmental agency.  To the extent that such regulations are advisory rather than mandatory, the standard of compliance to be achieved by the Tutor shall be best practice of the relevant industry.
      1. The Tutor shall acquaint him/herself with any working practices, rules or procedures applicable to any location where the Tutor is required to perform the Services (whether or not the Company’s premises), including any security and health and safety policies.

    <b>5. Fees </b>

      1. In consideration of the provision of the Services, the Company shall pay to the Tutor a consultancy fee of £15 per hour, such fee to be payable by bank transfer within 48 hours of the Company receiving payment from the client.
      1. Before being paid the Tutor shall submit an email in accordance with clause 5.3.
      1. The Tutor shall submit to the Company an invoice which gives details of the hours which the Tutor has worked, the Services which s/he has provided and the amount of the fee payable for such Services during the applicable period.
      1. The Company shall be entitled to deduct from the fees (and any other sums) due to the Tutor any sums that the Tutor may owe to the Company at any time.
      1. The Tutor must keep his/her own records of fees received.  Duplicate copies will not normally be sent.

    <b>6. Period of service and termination </b>

      1. The Agreement shall commence on the date of this consultancy agreement and shall continue, subject to the remaining terms of this Agreement, up to 31 July 2016 (the “Expiry Date”) and shall continue thereafter as a rolling one year contract unless or until terminated in accordance with this clause 6 or as otherwise provided in this Agreement.
      1. This Agreement may be terminated at any time by either party giving the other not less than one month’s notice in writing.
      1. If:
        1. for a period of more than [two] weeks the Tutor is unable properly to provide the Services hereunder by reason of ill-health, accident or otherwise and the Tutor is unable to provide a replacement tutor acceptable to the Company for the duration of such incapacity; or
        1. the Tutor fails or neglects efficiently and diligently to perform the Services, or is guilty of any breach of his/her obligations under this Agreement (including any consent granted under it); or
        1. the Tutor is guilty of serious misconduct or any other conduct (whether in the performance of the Services or otherwise) which affects or is likely to affect prejudicially the interest of the Company, or is convicted of an arrestable offence (other than a road traffic offence for which a non-custodial penalty is imposed); or
        1. the Tutor should, in the reasonable opinion of the Company, engage in an activity not to be considered to be in the best interests of the Company or students,
        1. the Company may, without prejudice to any other right it may have, terminate this Agreement immediately by written notice to the Tutor.
      1. The Company reserves the right to halt or terminate the conduct of a tutorial by the Tutor without prior notice if, in the opinion of the Company, such conduct would not be in the best interests of the Company.

    <b>7. Post termination restrictions </b>

      1. The Tutor will not for a period of 4 months after the date of termination of this agreement solicit or endeavour to entice away from the Company the business or custom of a Restricted Person with a view to providing private tuition services in competition with the Company.
      1. In this clause 7, a Restricted Person shall include any person who, during the 3 months prior to termination of this Agreement, was a customer of the Company with whom the Tutor had contact or about whom the Tutor became aware or informed in the course of providing the Services under this Agreement.

    <b>8. Expenses </b>

      1. The Tutor, as an independent contractor, shall be responsible for any expenses incurred in the performance of this Agreement, except as otherwise agreed to in writing prior to such expenses being incurred.

    <b>9. Copyright </b>

      1. The Tutor hereby assigns to the Company all existing and future intellectual property rights (including, without limitation, patents, copyright and related rights) and inventions arising from the Services for the Company.  The Tutor agrees promptly to execute all documents and do all acts as may, in the opinion of the Company, be necessary to give effect to this clause 9.1.
      1. The Tutor hereby irrevocably waives all moral rights under the Copyright, Designs and Patents Act 1988 (and all similar rights in other jurisdictions) which s/he has or will have in any existing or future works.
      1. Rights on any work or design created as a scholarly work outside of the remit of the purposes for which the Tutor’s services are retained remain with the author.  This will include works contributing to the development of the author’s “professional career”, including items such as books, contributions to books, articles and conference papers, and shall be construed in the light of the common understanding of the phrase in education.
      1. If the Tutor no longer provides his/her services to the Company and wishes to use materials that s/he has developed and used in teaching while providing services to the Company, s/he must gain the permission of [insert name] if those materials belong to the Company.
      1. The Tutor agrees that s/he will not include any copyrighted material in any written or copyrightable material furnished or delivered under this Agreement without a licence or without the consent of the copyright owner.  The Tutor shall be responsible for clearance of third-party copyright material and must pay any reproduction fees required by the relevant copyright owner.  Where permission is either unobtainable or refused, the Tutor shall not reproduce third-party copyright material in question.
      1. The Tutor agrees to report in writing to the Company promptly and in reasonable detail any notice of claim of copyright infringement received by the Tutor with respect to any material delivered under this Agreement.
      1. Termination of this Agreement shall not affect the continuing enforceability of this clause 9.

    <b>10. Confidentiality </b>

      1. In the performance of this Agreement, the Tutor may obtain information about the Company, the Company’s clients and students.  The Tutor shall not make use of, or divulge to any person, information of a confidential or secret nature:
        1. concerning the business of the Company and which comes to his/her knowledge during the course of or in connection with this Agreement or from any source within the Company; or
        1. concerning the business of any person having dealings with the Company and which is obtained directly or indirectly in circumstances in which the Company is subject to a duty of confidentiality in relation to that information.
      1. This clause 10 shall not apply to information which is:
        1. used or disclosed in the proper performance of this Agreement or with the prior written consent of the Company; or
        1. ordered to be disclosed by a court of competent jurisdiction or otherwise required to be disclosed by law;
        1. already in the public domain at the time of disclosure without breach of this or any other obligation of confidentiality.
      1. This clause 10 shall continue to apply after the termination of this Agreement (howsoever) without limit of time.
      1. The Tutor further agrees to return to the Company and to the Company’s clients upon the completion of his/her services, any and all documents (originals and copies) and any other property taken from, or belonging to, either of these parties in the performance of the Services described herein.

    <b>11. Change of Personal Details </b>

      1. Tutors who intend to change their contact details must tell the Company as far in advance as possible.

    <b>12. Assignment</b>

      1. This Agreement is personal in nature and is not assignable by the Tutor or the Company.  The Tutor shall not sub-contract or delegate to any person any of the Tutor's obligations under this Agreement.

    <b>13. Legal and Insurance Liabilities </b>

      1. If the Tutor is injured, or if a student is injured at a tutorial, the Tutor must report the incident as soon as possible in writing to [insert details]
      1. The Company does not insure against and hereby excludes, to the fullest extent allowed by law, all liability for loss, damage or theft of clothing, equipment or other property belonging to Tutors, nor is it a requirement of the Company that such property should be insured by the owners.
      1. The Tutor shall have personal liability for any loss, liability or costs (including reasonable legal costs) incurred by the Company in connection with the provision of the Services and shall accordingly maintain in force during the engagement full and comprehensive insurance policies in respect of the provision of the Services.
      1. The Tutor shall ensure that the insurance policies are taken out with reputable insurers acceptable to the Company and that the level of cover and other terms of insurance are acceptable to and agreed by the Company.
      1. The Tutor shall on request supply to the Company copies of such insurance policies and evidence that the relevant premiums have been paid.
      1. The Tutor shall notify the insurers of the Company’s interest and shall cause such interest to be noted on the insurance policies.
      1. The Tutor shall comply with all terms and conditions of the insurance policies at all times.  If cover under the insurance policies shall lapse or not be renewed or be changed in any material way or if the Tutor is aware of any reason why the cover under the insurance policies may lapse or not be renewed or be changed in any material way, the Tutor shall notify the Company without delay.

    <b>14. Entire Agreement </b>

      1. This document contains the entire agreement of the parties and supersedes all prior written and oral communications.  It may not be changed orally but only by an agreement signed by the party from who change, modification, extension of discharge is sought.

    <b>15. Gratuities </b>

      1. The Tutor shall not, directly or indirectly, accept any commission, rebate, discount or gratuity in cash or in kind, from any person who has or is likely to have a business relationship with the Company.

    <b>16. Governing Law </b>

      1. This Agreement is governed by and shall be construed in accordance with English Law.  The Company and Tutor hereby submit to the jurisdiction of the English Courts for all purposes relating to this Agreement.



    # OXFORD STUDENT TUTORS
    ## TERMS AND CONDITIONS OF BUSINESS FOR THE SUPPLY OF TUTORS

    Oxford Student Tutors (OST) is a business involved in the supply of tutors for the furtherance of education. OST will supply tutors to you for an hourly fee. We engage tutors under a contract for services. <br>

    Fees are charged at a set hourly rate on the basis of the number of hours worked. The hourly rate is as set out in the letter or email enclosing these Terms and Conditions of Business. <br>

    OST invests time and money recruiting, supervising and supporting tutors. We therefore charge you a fee in cases where we have introduced you to one of our tutors and you choose to engage them, either directly or indirectly through another agency or third party. Where this happens you will be liable to pay OST a fee equal to the hourly rate multiplied by 10.

    ### GENERAL
    1. OST will provide you with a suitable tutor.
    1. All OST tutors are subject to strict professional assessment and vetting.
    1. Should a OST tutor for any reason be unable to complete an assignment, OST will assign a replacement as soon as possible. In the unlikely event of a OST tutor proving unsuitable, you should inform us immediately so that we can terminate the arrangement as soon as possible. We will endeavour to provide an alternative OST tutor within two weeks. In this eventuality no charge will be made.
    1. OST charges £20 per hour for the provision of tutoring services. You must pay us £20 per hour within 48 hours of the session with the OST tutor such payment to be made by electronic transfer to OST’s bank account at                                                              . No fee will be charged if you cancel the session within 2 hours from its commencement time. Should you cancel within 2 hours of the session commencement time, then you must pay a fee of £10.
    1. Any cancellations must be made by phone/ text or email.
    1. You must ensure that the OST tutor enjoys a safe working environment which is conducive to teaching.
    1. No variation in our Terms and Conditions of Business is valid unless confirmed in writing. These Terms and Conditions of Business supersede all previous Terms and Conditions of Business.
    1. You agree that the courts of England and Wales shall have exclusive jurisdiction to settle any dispute or claim that arises out of or in connection with these terms and conditions.

    <br><br>
    Oxford Student Tutors / 16.2.15.