md-toast(style='z-index:5; position:fixed; top:50px')
  span(flex) Your profile is not completed! Please visit the edit page!
  md-button(ng-click='goEdit()') Edit
  md-button(ng-click='closeToast()') Close
