//
   Created by Andrei on 12/01/15.
div.row(ng-show='thisIsMe')
  div.col-sm-12
    p Check here if the profile is complete
div.row
  div.col-sm-8
    div.page-header
      h1 USERS {{profile}}
      p Subject this guy teaches
  div.col-sm-4
    p We will have a photo here
div.row
    div.col-sm-12
      p Everything else
