div.container
  div.row(ng-show='thisIsMe')
    div.col-sm-12
      p Check here if the profile is complete ha
  div.row(class='userHeader')
    div.col-sm-8
      div
        h1 {{username}}
          a(ng-show='thisIsMe', href='/editProfile', class='btn btn-primary btn-sm', style="margin-left:20px") Edit
        span Subject this guy teaches
        pre {{summary}}
    div.col-sm-4
      p We will have a photo here
      img(ng-src='{{img}}', style='max-height:200px')
  div.row(ng-repeat='(key, value) in profile', layout='column', class='md-padding')
    div.col-sm-12(ng-show='value.length')
      md-toolbar.md-theme-light
        h1.md-toolbar-tools
          span {{ PrettyName(key) }}
      md-content(class='md-padding' ng-show='value && !isSubject(key) && !isDegree(key)')
        | {{value}}
      md-content(ng-show='value && isSubject(key)')
        md-list
          md-item(ng-repeat='item in value track by $index')
            md-item-content
              div.md-title-content
                h3 {{item.subject}}
                md-list
                  md-item(ng-repeat='(qualName, isQual) in item.categories')
                    md-item-contetn
                    div.md-title-content(ng-show='isQual')
                      h5 {{qualName}}
            md-divider(ng-if='!$last')
      md-content(ng-show='value && isDegree(key)')
        md-list
          md-item(ng-repeat='item in value track by $index')
            md-item-content
              md-content(class='md-padding') {{item}}
