@import '../sass/bootstrap/_variables.scss';

.cover {
  background-image: url('/media/oxford.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;

  h1 {
    font-weight: bold;
  }

  @media (max-width: $screen-tablet) {
    h1 {
      font-size: ($font-size-base * 3.5);
    }
  }

  @media (min-width: $screen-tablet) {
    h1 {
      font-size: ($font-size-base * 7.5);
    }
  }
}

.panel h3 {
  margin-top: 0;
}
